.guide_box{
    position: relative;
    background: url(../images/guide/guide_bg.png) repeat-y center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.oneFont{
    width: 100%;
    text-align: center;
    padding-top: 2%;
}
.oneFont h1{
    font-size: 1.6em;
}
.oneFont p{
    font-size: 1em;
    margin-bottom: 1%;
}
.oneFont img{
    width: 70%;
}
.centerImg{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
.centerImg img{
    width: 70%;
}
.bottom_btn{
    width: 100%;
    text-align: center;
}
.bottom_btn a{
    width: 100%;
    display: block;
    color: white;
    font-size: 0.8em;
    text-decoration: underline;
    margin-top: 1%;
}
.bottom_btn img{
    width: 45%;
}
.guide_close{
    width: 10%;
    position: absolute;
    right: 5%;
    top: 2%;
}
.guide_close img{
    width: 100%;
}
/*改版引导*/
body,html{
    width: 100%;
    height: 100%;
    padding-bottom: 0!important;
}
.active_box{
    width: 100%;
    height: 100%;
    background: url("../images/active_img.png") no-repeat center;
    background-size: cover;
    position: relative;
}
.active_close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 5px;
}
.active_close img{
    width: 100%;
}