body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,figure,figcaption{
    font-family: "Microsoft YaHei UI",微软雅黑,\u9ed1\u4f53,黑体,SimHei;
    margin:0;padding:0;
    color: #000000;
}
strong{font-weight: normal;}
img{border: none;vertical-align: middle;max-width: 100%;}
html { height: 100%; width: 100%; font-family: 'Microsoft YaHei','Heiti SC';font-size: 20px;  outline: 0; -webkit-text-size-adjust:none;}
body { line-height: 150%; -webkit-user-select: none;background: #F2F3EE;}
span,b,em{font-weight: normal;font-style: normal;}
input{outline: none;}
input[type=radio]{-webkit-appearance: radio;} input[type=checkbox]{-webkit-appearance: checkbox;}
a{text-decoration: none;color: #444444;}
ul{list-style-type: none;margin: 0;padding: 0;}
*{-webkit-tap-highlight-color: transparent; -webkit-appearance: none;}
.clearfix:after{content:"";display:block;clear:both;overflow:hidden;visibility:visible;width:0;height:0;}
.fl{float: left;}
.fr{float: right;}
.tm{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}
.inb{display: inline-block;vertical-align: middle;}
.tb{display: table-cell;width: 50%;}
.relative{position: relative;}
.ani{position: absolute}
.ellipsis {text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.ellipsis-2{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
html{
    font-size: 20px;
}
/*@media(max-device-width:320px){*/
    /*html{*/
        /*font-size: 17px;*/
    /*}*/
/*}*/
/*@media(max-device-width:414px){*/
    /*html{*/
        /*font-size: 41.4px;*/
    /*}*/
/*}*/


body{
    overflow:auto;/* winphone8和android4+ */
    -webkit-overflow-scrolling: touch; /* ios5+ */
}

/*a:link,a:active,a:focus{color: #444;}*/
