.success-text{
	line-height: 0.9rem;
}
.text-top{
	background: url(/wap/images/success-titleBG.jpg) no-repeat;
	background-size: 100% 100%;
}
.text-title{
	width: 80%;
	margin: 0 auto;
	padding: 0.7rem 0 0.5rem 0;
	text-align: center;
}
.text-title h2,ul{
	margin: 0 auto;
}
.text-title h2{
	padding: 0.3rem;
	width: 84%;
	border-radius: .5rem;
	font-size: 0.7rem;
	font-weight: normal;
	background-color: rgba(91,120,161,.7);
	color: #fff;
}
.text-title ul{
	margin-top: 0.5rem;
}
.text-title ul li{
	width: 30%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.5rem;
	color: #fff;
}
.text-content{
	padding: 0.5rem;
	font-size: 0.6rem;
}
.text-content p span{
	font-size: 0.65rem !important;
}
.text-content p img{
	width: 100% !important;
	height: auto !important;
}
.text-content .text-1{
	padding: 0.6rem 0.2rem;
	margin-bottom: 0.2rem;
	background-color: rgb(232,232,232);
	border-bottom-left-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}
.text-2{
	text-align: center;
}
.text-2 p:last-child{
	text-align: right;
	margin-right: 10%;
}
.text-3{
	text-indent: 1rem;
}
.text-4 div{
	padding: 0.5rem 0;
}
.text-4 p{
	text-indent: 1rem;
}
.text-next{
	padding: 0.5rem 0.5rem 0;
}
.text-next a{
	float: left;
	width: 40%;
	font-size: 0.6rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.text-next a:last-child{
	float: right;
}
/*相关阅读*/
.success-about{
	padding: 0.5rem;
}
.title{
	padding-bottom: 0.5rem;
}
.title h3{
	font-weight: normal;
	font-size: 0.9rem;
}
.success-about ul{
	padding: 0 0.6rem;
	background-color: rgb(232,232,232);
	border-radius: 0.3rem;
	line-height: 0.9rem;
}
.success-about ul li{
	position: relative;
	padding: 0.3rem 0;
	font-size: 0.6rem;
}
.success-about ul li a{
	font-size: 0.6rem;
}

.success-about ul li:last-child{
	border: 0;
}
/*留学评估*/
.success-assess{
	padding: 0.5rem;
}
.success-assess .assess-write{
	background-color: rgb(175, 126, 255);
	padding: 5% 20%;
	border-radius: 0.5rem;
	line-height: 0.9rem;
}
.assess-write p{
	color: #fff;
	font-size: 0.6rem;
	text-align: center;
	padding-bottom: 0.6rem;
}
.assess-write li{
	margin-bottom: 0.5rem;
}
.success-assess input{
	width: 100%;
	height: 1.2rem;
	padding: 0 0.3rem;
	background-color: #fff;
	border-radius: 0.3rem;
	font-size: 0.4rem;
}
.assess-write li:last-child{
	margin-top: 1rem;
}
.assess-write li button{
	border: none;
	width: 100%;
	height: 1.2rem;
	border-radius: 0.3rem;
	background-color: rgb(221,42,239);
	color: #fff;
	font-size: 0.4rem;
}
