.font-5{
	font-size: 0.6rem;
}
.item-page .swiper-pagination-bullet-active{
	background-color: rgb(175, 126, 255);
}
.tea-content{
	padding: 0 0.5rem;
}
.teacher-top{
	padding: 0.3rem 0;
	border-bottom: 1px solid rgb(208, 208, 208);
}
.teacher-top img{
	width: 2.7rem;
	float: left;
}
.swi-pdbotton{
	padding-bottom: 1.5rem;
}
.teacher-top ul{
	margin-left: 3.2rem;
	line-height: 1rem;
}
.teacher-top li{
	margin-bottom: 0.1rem;
}
.teacher-top li span{
	color: rgb(133, 133, 133);
}
.teacher-top li:last-child{
	width: 4rem;
	background-color: rgb(175, 126, 255);
	padding-left: 0.3rem;
	color: #fff;
	border-radius: 0.2rem;
}
.teacher-top ul li:last-child img{
	width: 0.7rem;
	margin-right: 0;
	padding-top: 0.3rem;
}
.teacher-top li:last-child a{
	font-size: 0.45rem;
	color: #fff;
}
.teacher-intro{
	padding: 0.3rem 0;
	line-height: 1.3rem;
}
.teacher-intro h4{
	width: 2rem;
	border-radius: 0.2rem;
	text-align: center;
	background-color: rgb(175,126,255);
	color: #fff;
}
.teacher-intro p{
	text-indent: 0.5rem;
	color: rgb(133, 133, 133);
}
.teacher-assess{
	padding: 0.3rem 0;
	color: rgb(228, 228, 228);
}
.teacher-assess h4{
	color: rgb(175,126,255);
}
.teacher-assess p,.teacher-address span{
	color: rgb(133, 133, 133);
}
.teacher-address{
	padding-bottom: 0.3rem;
	border-bottom: 1px solid rgb(208, 208, 208);
}
.teacher-address h4{
	color: rgb(175,126,255);
}
/*名师云集*/
.teacher-all{
	padding: 0 0.5rem;
}
.tea-all-top{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.7rem;
}
.tea-all-top img{
	width: 1.3rem;
}
.tea-all-top h3{
	font-size: 0.8rem;
	font-weight: normal;
}
.tea-all-top a{
	font-size: 0.5rem;
}
.teacher-all ul{
	padding: 0.5rem 0;
	line-height: 0.9rem;
}
.teacher-all ul li{
	float: left;
	margin-right: 2%;
	width: 49%;
	padding-bottom: 0.2rem;
	font-size: 0.6rem;
	background-color: rgb(224, 229, 222);
}
.teacher-all ul li:last-child{
	margin-right: 0;
}
.teacher-all ul li img{
	width: 100%;
	max-height: 570px;
}
.teacher-all ul li p:last-child a{
	padding: 0 0.2rem;
	color: #fff;
	border-radius: 0.2rem;
	background-color: rgb(175,126,255);
}
.teacher-all ul li div{
	padding: 0.1rem 0.2rem;
}
