@import "public.css";
@import "header.css";
@import "footer.css";

.discla-con{
    width: 1001px;
    /*height: 500px;*/
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
    border: 1px #b1b1b1 solid;
    padding: 10px 10px 20px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 30px;
}
.discla-con h4{
    color: #87398f;
    font-size: 16px;
    margin-top: 10px;
}
.discla-con p{
    font-size: 14px;
    /*line-height: 30px;*/
    color: #3d3938;
}