@import "public.css";
@import "header.css";
@import "footer.css";

.gmat-topImg{
    width: 100%;
    height: 381px;
    margin: 0 auto;
    text-align: center;
    background: url("../images/gmat_bigBG.jpg") no-repeat;
    background-size: 100% 100%;
    padding-top: 60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.gmat-topImg h1{
    color: white;
    font-weight: normal;
    font-style: italic;
    font-size: 50px;
    margin-bottom: 10px;
}
.gmat-topImg a{
    width: 277px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    text-align: center;
    display: block;
    background: #ffff02;
    font-size: 28px;
    margin-top: 40px;
}
.gmat-class{
    width: 992px;
    padding-top: 32px;
    /*height: 478px;*/
    margin: 0 auto;
    /*border: 1px red solid;*/
}
.gmat-class h2{
    font-size: 35px;
    font-weight: normal;
    text-align: center;
}
.gmat-class ul li{
    float: left;
    margin-right: 15px;
}
.gmat-class ul li:last-child{
    margin-right: 0;
}
.gmat-class ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.oneClass{
    width: 304px;
    height: 370px;
    margin-top: 38px;
}
.oneC-top{
    width:100%;
    height: 54px;
    line-height: 54px;
    background: #7440a2;
    color: white;
    text-align: center;
    font-size: 25px;
    position: relative;
    z-index: 11;
}
.oneC-bottom{
    width: 100%;
    height: 315px;
    margin-left: -1px;
    margin-top: -10px;
    background: #f4f4f4;
    border-left: 1px #7440a2 solid;
    border-right: 1px #7440a2 solid;
    border-bottom: 1px #7440a2 solid;
}
.inBottom{
    width: 279px;
    margin: 0 auto;
    padding-top: 21px;
}
.threeSpe ul li{
    margin-bottom: 50px!important;
}
.threeSpe a{
    margin-top: 55px!important;
}
.inBottom>a{
    width: 136px;
    height: 25px;
    line-height: 25px;
    display: block;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    border: 1px #3e3e3e solid;
    margin: 0 auto;
    margin-top: 20px;
}
.inBottom>a:hover{
    color: white;
    background: #7440a2;
    border: 1px #7440a2 solid;
}
.inBottom ul li{
    margin-bottom: 16px;
    font-size: 12px;
}
.inBottom div{
    font-size: 12px;
}
.inBottom h4{
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline;
    color: #7440a2;
    text-align: center;
    margin-bottom: 10px;
}
.inBottom h4 a{
    color: #7440a2;
}
.twoClass{
    width: 351px;
    height: 389px;
    margin-top: 24px;
}
.twoC-top{
    width: 100%;
    height: 56px;
    line-height: 56px;
    background: #343434;
    color: white;
    text-align: center;
    font-size: 25px;
    position: relative;
    z-index: 11;
}
.twoC-bottom{
    width: 100%;
    height: 334px;
    margin-left: -1px;
    margin-top: -16px;
    border-left: 1px #a2a2a2 solid;
    border-right: 1px #a2a2a2 solid;
    border-bottom: 1px #a2a2a2 solid;
}
.two-inBottom>a{
    width: 136px;
    height: 25px;
    line-height: 25px;
    display: block;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    border: 1px #3e3e3e solid;
    margin: 0 auto;
    margin-top: 20px;
}
.two-inBottom>a:hover{
    color: white;
    background: #7440a2;
    border: 1px #7440a2 solid;
}
.two-inBottom{
    width: 311px;
    margin: 0 auto;
    padding-top: 33px;
}
.two-inBottom h4{
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline;
    color: #7440a2;
    text-align: center;
    margin-bottom: 10px;
}
.two-inBottom h4 a{
    color: #7440a2;
}
.two-inBottom  ul li{
    margin-bottom: 25px;
    font-size: 12px;
}
.two-inBottom  p{
    font-size: 12px;
}
.openClass{
    width: 992px;
    margin: 0 auto;
    padding: 22px 0 53px 0;
    /*border: 1px red solid;*/
}
.topTitle{
    width: 100%;
    height: 49px;
    line-height: 49px;
    text-align: center;
    color: white;
    background: #7440a2;
    font-size: 25px;
}
.openClass table{
    width: 100%;
    border: 1px #a3a3a3 solid;
}
.openClass table tr:nth-child(2n){
    background: #f2e7fd;
}
.openClass table tr:nth-child(2n+1){
    background: #f4f4f4;
}
.openClass table tr th{
    color: #7440a2;
    text-align: left;
}
.openClass table tr td,.openClass table tr th{
    padding: 10px 0;
}
.openClass table tr td:first-child,.openClass table tr th:first-child{
    padding-left: 40px;
}
.openClass table tr td{
    color: #696766;
}
.openClass table tr td a{
    color: #7440a2;
    font-weight: bold;
}
.openClass table tr td a:hover{
    color: #9a4fd7;
}
.openClass table tr td:nth-child(3),.openClass table tr td:nth-child(4){
    width: 100px;
}
.openClass table tr td:nth-child(5){
    width: 106px;
}
.moreClass{
    width: 100%;
    text-align: center;
}
.moreClass i{
    font-size: 45px;
    color: #818181;
}
.moreClass a{
    color: #81318b;
    text-decoration: underline;
    font-size: 25px;
    display: block;
}
.gmat-special{
    width: 100%;
    height: 671px;
    margin: 0 auto;
    background: url("../images/gmat_specialBG.jpg") no-repeat;
    background-size: 100% auto;
    padding-top: 24px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.gmat-special h2{
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: normal;
}
.in-special{
    width: 871px;
    height: 574px;
    margin: 0 auto;
    margin-top: 26px;
    position: relative;
    /*border: 1px red solid;*/
}
.bigBG{
    width: 189px;
    height: 196px;
    /*border: 1px #008000 solid;*/
}

.backGround01{
    background: url("../images/gmat_circleIcon01.png") no-repeat 2px 2px;
}
.backGround001{
    display: none;
    background: url("../images/gmat_circleIcon001.png") no-repeat 2px 2px;
}
.backGround02{
    background: url("../images/gmat_circleIcon02.png") no-repeat -2px -2px;
}
.backGround002{
    display: none;
    background: url("../images/gmat_circleIcon002.png") no-repeat -2px -2px;
}
.backGround03{
    background: url("../images/gmat_circleIcon03.png") no-repeat -2px -2px;
}
.backGround003{
    display: none;
    background: url("../images/gmat_circleIcon003.png") no-repeat -2px -2px;
}
.backGround04{
    background: url("../images/gmat_circleIcon04.png") no-repeat;
}
.backGround004{
    display: none;
    background: url("../images/gmat_circleIcon004.png") no-repeat;
}
.backGround05{
    background: url("../images/gmat_circleIcon05.png") no-repeat 2px 2px;
}
.backGround005{
    display: none;
    background: url("../images/gmat_circleIcon005.png") no-repeat 2px 2px;
}
.backGround06{
    background: url("../images/gmat_circleIcon06.png") no-repeat 7px 7px;
}
.backGround006{
    display: none;
    background: url("../images/gmat_circleIcon006.png") no-repeat 7px 7px;
}
.backGround07{
    background: url("../images/gmat_circleIcon07.png") no-repeat -2px 2px;
}
.backGround007{
    display: none;
    background: url("../images/gmat_circleIcon007.png") no-repeat -2px 2px;
}
.backGround08{
    background: url("../images/gmat_circleIcon08.png") no-repeat ;
}
.backGround008{
    display: none;
    background: url("../images/gmat_circleIcon008.png") no-repeat ;
}
.pos01{
    position: absolute;
    bottom: 0;
    left: 0;
}
.pos02{
    position: absolute;
    bottom: 173px;
    left: 9px;
}
.pos03{
    position: absolute;
    top: 41px;
    left: 107px;
}
.pos04{
    position: absolute;
    top: 0;
    left: 292px;
}
.pos05{
    position: absolute;
    top: 17px;
    right: 210px;
}
.pos06{
    position: absolute;
    top: 68px;
    right: 40px;
}
.pos07{
    position: absolute;
    bottom: 155px;
    right: 0;
}
.pos08{
    position: absolute;
    bottom: -20px;
    right: 23px;
}
.circles{
    width: 166px;
    height: 166px;
    border-radius: 50%;
    /*border: 1px red solid;*/
    display: table;
}
.inCircles{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}
.flT{
    margin-left: 26px;
}
.flT02{
    margin-left: 10px;
}
.flT03{
    margin-left: 2px;
    margin-top: 2px;
}
.flT04{
    margin-left: 4px;
    margin-top: 4px;
}
.inCircles h5{
    font-size: 20px;
    color: #000000;
    font-weight: normal;
}
.inCircles h4{
    color: #7642a3;
    font-size: 16px;
}
.inCircles{
    color: #424242;
    font-size: 12px;
}
.centerP{
    position: absolute;
    bottom: 0;
    left: 210px;
}
.toefl-teacher{
    width: 100%;
    height: 406px;
    margin: 0 auto;
    background: url("../images/gmat_teacherBG.jpg") no-repeat;
    background-size: 100% 100%;
}
.inTeacher{
    width: 965px;
    margin: 0 auto;
    padding-top: 45px;
    text-align: center;
}
.inTeacher>a.subscribe{
    width: 128px;
    height: 27px;
    background: white;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 18px;
}
.inTeacher>a img{
    position: relative;
    top: 2px;
}
.inTeacher h2{
    font-size: 35px;
    font-weight: normal;
    text-decoration: underline;
}
.inTeacher h2 a{
    color: white;
}
.inTeacher h2 a span{
    color: #ffff67;
    text-decoration: underline;
}
.inTeacher>span{
    color: #81accc;
    font-size: 18px;
}
.toggleSummer{
    width: 100%;
    margin-top: 29px;
    position: relative;
}
.summerHd{
    width: 100%;
}
.summerHd a{
    position: absolute;
    top: 50%;
    margin-top: -21px;
}
.summerHd a img{
    width: 32px;
}
.summerHd a.prev{
    left: 0;
}
.summerHd a.next{
    right: 0;
}
.summerBd ul li{
    width: 140px;
    text-align: center;
    float: left;
    margin-right: 27px;
}

.summerBd ul li>span{
    font-size: 16px;
}
.summerTop{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px white solid;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}
.summerTop>img{
    height: 100%;
}
.summerBd{
    width: 850px;
    overflow: hidden;
    margin: 0 auto;
    color: white;
}
.summerBd ul{
    padding: 20px 0 0 20px!important;
    /*border: 1px red solid;*/
}
.summerBd:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.summer-mask{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    display: none;
}
.summer-mask a{
    width: 100%;
    height: 100%;
    display: block;
}
.summer-mask h4{
    font-size: 30px;
    margin-top: 60px;
}
.summer-mask p{
    font-size: 20px;
    margin-top: 75px;
}
.summer-mask a{
    color: #fbf92c;
}

.aboutToefl{
    width: 983px;
    padding: 49px 0 33px 0;
    margin: 0 auto;
}
.aboutToefl h2{
    font-size: 35px;
    font-weight: normal;
    text-align: center;
}
/*改版后css*/

.aboutTSlide{
    width: 986px;
    height: 326px;
    margin: 0 auto;
    margin-top: 24px;
    position: relative;
}
.aboutTHd{
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.aboutTHd a{
    width: 27px;
    height: 24px;
    line-height: 24px;
    color: white;
    display: block;
    text-align: center;
    font-size: 25px;
    background: #7440a2;
    float: right;
}
.aboutTHd a.prevStop{
    background: #b6b6b7;
}
.aboutTHd a.nextStop{
    background: #b6b6b7;
}

.aboutTBd{
    width: 100%;
}
.aboutTBd ul li{
    width: 484px;
    height: 132px;
    float: left;
    margin-right: 18px;
    margin-bottom: 17px;
}
.aboutTBd ul li:nth-child(2n){
    margin-right: 0;
}
.aboutTBd-left{
    width: 145px;
    height: 135px;
    float: left;
}
.aboutTBd-left img{
    width: 100%;
    height: 100%;
}
.aboutTBd-right{
    width: 338px;
    height: 100%;
    background: #fffced;
    float: left;
    padding: 15px 0 0 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.aboutTBd-right h4{
    font-weight: normal;
    font-size: 20px;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.aboutTBd-right h5{
    color: #7440a2;
    font-size: 20px;
    font-weight: normal;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.aboutTBd-right p{
    line-height: 15px;
}
.aboutTBd-right>a{
    width: 95px;
    height: 29px;
    line-height: 29px;
    display: block;
    text-align: center;
    background: #ffffff;
    color: #7440a2;
    float: right;
    margin-top: 5px;
}
.aboutTBd-right>a:hover{
    background: #7440a2;
    color: white;
}
/*改版后css end*/
.about-center{
    width: 100%;
    margin-top: 29px;
}
.about-center>ul>li{
    float: left;
    margin-right: 13px;
}
.about-center>ul>li:last-child{
    margin-right: 0;
}
.about-center>ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.about-bottom{
    width: 100%;
    border: 1px #e5e5e5 solid;
    background: #f3f3f3;
    padding: 15px 16px 20px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 26px;
}
.abttomBd ul li{
    width: 112px;
    float: left;
    margin-right: 26px;
}
.abttomBd ul li a{
    width: 100%;
    height: 100%;
    display: block;
}
.abttomBd ul li img{
    width: 100%;
    height: 75px;
    vertical-align: middle;
}
.abttomBd ul li:last-child{
    margin-right: 0;
}
.abttomBd ul li p{
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: white;
    text-align: center;
    background: #000000;
    font-size: 12px;
}
.abttomBd ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.aboutC-left{
    width: 125px;
    height: 125px;
    float: left;
    border-radius: 50%;
    /*overflow: hidden;*/
    border: 2px #cccccc solid;
    position: relative;
}
.aboutC-left img.leftDefault{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.aboutC-left img.rightSJ{
    position: absolute;
    right: -11px;
    bottom: 16px;
}
.aboutC-right{
    width: 165px;
    float: left;
    margin-left: 17px;
}
.aboutC-right ul li{
    font-size: 18px;
}
.aboutC-right ul li:nth-child(3){
    color: #7440a2;
}
.aboutC-right ul li:last-child a{
    width: 95px;
    height: 26px;
    line-height: 26px;
    display: block;
    font-size: 14px;
    text-align:center;
    color: #7440a2;
    border: 1px #7440a2 solid;
    margin-top: 23px;
}
.aboutC-right ul li:last-child a:hover{

    background: #7440a2;
    color: white;
}
.shenYou-class{
    width: 100%;
    padding: 27px 0 46px 0;
    background: #e6e6e6;
}
.shenYou-class h2{
    font-weight: normal;
    font-size: 35px;
    text-align: center;
}
.shenYou-class>ul{
    width: 984px;
    margin: 0 auto;
    margin-top: 25px;
}
.shenYou-class ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.shenYou-class>ul>li{
    width: 237px;
    margin-right: 12px;
    float: left;
}
.shenYou-class>ul>li:last-child{
    margin-right: 0;
}
.open-commonStyle{
    width: 1001px;
    margin: 0 auto;
    margin-top: 16px;
}
.open-commonStyle:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.open-commonStyle ul li{
    width: 236px;
    height: 260px;
    float: left;
    margin-right: 19px;
    margin-bottom: 11px;
}
.open-commonStyle ul li:not(.noBorderLi){
    background: #fefefe;
    border: 1px #dcdedb solid;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.open-commonStyle ul li:nth-child(4n){
    margin-right: 0;
}
.open-commonStyle ul li img{
    width: 100%;
}
.open-commonStyle ul li p{
    margin-top: 8px;
    font-size: 14px;
    margin-bottom: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.open-commonStyle ul li span{
    color: #969696;
    font-size: 12px;
}
.open-commonStyle ul li b{
    color: #969696;
    font-size: 12px;
    font-weight: normal;
    float: right;
    background: url("../images/open_love.png") no-repeat left center;
    padding-left: 13px;
}
.classBtn{
    width: 71px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    background: #c3a3e9;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}
.diffColor01{
    color: #7e4596;
    margin-left: 18px;
}
.diffColor02{
    color: white;
    margin-left: 30px;
}
.topPurple{
    width: 100%;
    padding: 14px 0;
    background: #f2e7fd;
    color: #7440a2;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.botWhite{
    width: 100%;
    background: white;
    padding: 22px 0 17px 0;
}
.botWhite ul{
    margin-left: 39px;
    font-size: 12px;
}
.botWhite ul li:last-child a{
    width: 138px;
    height: 26px;
    line-height: 26px;
    border-radius: 20px;
    text-align: center;
    display: block;
    font-size: 14px;
    margin-top: 20px;
    border: 1px #aaaaaa solid;
}
.botWhite ul li:last-child a:hover{
    background: #7440a2;
    color: white;
}
.researchCenter{
    width: 100%;
    height: 467px;
    margin: 0 auto;
    background: url("../images/toeflresearchBG_.jpg") no-repeat;
    background-size: 100% 100%;
}
.inResearch{
    width: 989px;
    margin: 0 auto;
    padding-top: 19px;
}
.inResearch h2{
    color: white;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
}
.research-top{
    width: 100%;
    margin-top: 40px;
}
.research-top ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.research-top ul li{
    margin-right: 33px;
    float: left;
}
.research-top ul li:last-child{
    margin-right: 0;
}
.research-bottom{
    width: 895px;
    margin: 0 auto;
    margin-top: 38px;
}
.research-bottom ul li{
    width: 114px;
    float: left;
    margin-right: 38px;
    text-align: center;
}
.research-bottom ul li:last-child{
    margin-right: 0;
}
.research-bottom ul li a{
    width: 100%;
    height: 100%;
    display: block;
    color: white;
}
.reseT-img{
    width: 114px;
    height: 114px;
    border-radius: 50%;
    border: 2px white solid;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px;
}
.reseT-img img{
    width: 100%;
}
.researchT-left{
    width: 123px;
    height: 141px;
    float: left;
    border: 1px white solid;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.researchT-left img{
    width: 100%;
}
.researchT-right{
    width: 340px;
    float: left;
    margin-left: 7px;
}
.researchT-right h5{
    color: white;
    font-size: 16px;
}
.researchT-right h5 a{
    color: white;
}
.whiteRes{
    width: 100%;
    height: 111px;
    background: white;
    padding: 16px 16px 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 10px;
    font-size: 12px;
}
.whiteRes p{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}
.dynamic{
    width: 990px;
    padding: 28px 0;
    margin: 0 auto;
}
.dynamic>ul>li{
    width: 318px;
    height: 144px;
    background: #f5f5f5;
    float: left;
    margin-right: 14px;
    padding-top: 13px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dynamic>ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.dynamic>ul>li:last-child{
    margin-right: 0;
}
.dynamic-left{
    width: 36px;
    float: left;
    margin-left: 24px;
}
.dynamic-right{
    width: 248px;
    float: left;
    margin-top: 5px;
}
.dynamic-right ul li{
    font-size: 12px;
    margin-bottom: 5px;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.dynamic-right h4{
    color: #7440a2;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
}
.moreDiv{
    width: 71px;
    height: 18px;
    background: white;
    text-align: center;
    font-size: 12px;
    float: right;
    padding-left: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.moreDiv:hover  a div{
    background: #7541a3;
}
.moreDiv:hover  a{
    color: #7541a3;
}
.moreDiv a{
    width: 100%;
    height: 100%;
    display: block;
    color: #878787;
}
.moreDiv a span{
    float: left;
}
.moreDiv a div{
    width: 17px;
    height: 17px;
    line-height: 17px;
    background: #676767;
    color: white;
    text-align: center;
    font-size: 18px;
    float: right;
}
.favorable{
    width: 992px;
    height: 261px;
    margin: 0 auto;
    padding-top: 45px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: url("../images/toefl_advtange.png") no-repeat;
}
.favorable a{
    width: 144px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: #7440a2;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 400px;
    margin-top: 30px;
}
.favorable h2{
    font-weight: normal;
    font-size: 35px;
    text-align: center;
}
.favorable ul{
    width: 914px;
    margin: 0 auto;
    margin-top: 34px;
}
.favorable ul li{
    float: left;
    margin-right: 15px;
}
.favorable ul li:last-child{
    margin-right: 0;
}
.favorable ul li label{
    line-height: 28px;
    display: block;
    float: left;
}
.favorable ul li label span{
    color: red;
}
.favorable ul li a{
    /*float: left;*/
    /*margin-left: 6px;*/
}
.favorable ul li input[type='text']{
    height: 28px;
    float: left;
    border: 1px #a6a6a6 solid;
}
.favorable ul li input[type='button']{
    height: 28px;
    border: none;
    margin-top: 2px;
    margin-left: 5px;
}
.favorable ul li input.oneWidth{
    width: 132px;
}
.favorable ul li input.twoWidth{
    width: 96px;
}
.favorable ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.contactWay{
    width: 992px;
    margin: 0 auto;
}
.contactHead{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #7440a2;
    margin-top: 30px;
    padding-left: 17px;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.contactSlide{
    width: 100%;
    height: 122px;
    margin-top: 27px;
    margin-bottom: 35px;
    position: relative;
}
.conHd a{
    position: absolute;
    top: 50%;
    margin-top: -16px;
}
.conHd a.prev{
    left: 0;
}
.conHd a.next{
    right: 0;
}
.conBd{
    width: 885px;
    /*height: 141px;*/
    margin: 0 auto;
    overflow: hidden;
    /*border: 1px red solid;*/
    padding-top: 15px;
}
.conBd ul{
    width: 3670px;
}
.conBd ul li{
    float: left;
    margin-right: 6px;
}
.smallStyle{
    width: 122px;
    height: 119px;
    background: #f96c4e;
    position: relative;
}

.city{
    width: 72px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 14px;
    overflow: hidden;
}
.smallStyle img{
    width: 100%;
    height: 100%;
}

.conBd ul li.on  .bigStyle{
    display: block;
}
.conBd ul li.on  .smallStyle{
    display: none;
}
.bigStyle{
    width: 367px;
    height: 141px;
    margin-top: -11px;
    display: none;
}
.big-left{
    width: 142px;
    height: 100%;
    float: left;
    background: red;
    position: relative;
}
.big-right{
    width: 223px;
    height: 139px;
    float: left;
    border-top: 1px #c5c5c5 solid;
    border-right: 1px #c5c5c5 solid;
    border-bottom: 1px #c5c5c5 solid;
    padding: 12px 0 0 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.big-right a{
    width: 122px;
    height: 25px;
    display: block;
    line-height: 25px;
    color: white;
    text-align: center;
    background: #34cc34;
    margin-bottom: 10px;
}
.big-right a img{
    position: relative;
    top: 3px;
}
.big-right p{
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}
.big-right p.purpleColor{
    color: #84358e;
    font-size: 18px;
}
.big-city{
    width: 82px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 16px;
    overflow: hidden;
}
.big-left img{
    width: 100%;
    height: 100%;
}
.addShenYou{
    width: 100%;
    height: 75px;
    line-height: 75px;
    background: #026363;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 11;
    text-align: center;
    color: white;
}
.addShenYou i{
    line-height: 30px;
    color: white;
    position: absolute;
    right: 10px;
    top:0;
    font-size: 30px;
}
.addShenYou i:hover{
    cursor: pointer;
}
.addShenYou span{
    font-size: 30px;
    font-style: italic;
}
.addShenYou a{
    background: #ffff02;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 30px;
}
.addShenYou img{
    position: relative;
    top: 5px;
    margin-left: 10px;
}