RewriteEngine on
# If a directory or a file exists, use it directly
RewriteCond %{HTTP_HOST} ^thinkwithu\.com$ [NC]
RewriteRule ^(.*)$ http://www.thinkwithu.com/$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php